@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');


* {
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Kode Mono", monospace;
}

.container {
    width: 90vw;
    display: flex;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex .5s ease-in;
}

.panel.active {
    flex: 5;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 1;
}
.panel.active h3 {
    opacity: 1;
    transition: opacity .6s ease-in 0.4s;
}


@media (max-width: 480px) {
    .panel:nth-of-type(4){
        display: none;
    }
    .panel:nth-of-type(5){
        display: none;
    }
    .container{
        width: 100vw;
    }
}

a.button  {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

.bar .nav {
    background-color: CadetBlue;
    position: fixed;
    top: 60px;
    left: 10px;
    width: 200px;
    height: ;
    border-right: 2px solid rgba(200, 200, 200, .1);
    z-index: 100;
    color: white;

}

.bar .nav.active {
    background-color: CadetBlue;
    position: fixed;
    top: 60px;
    left: 1000000px;
    width: 200px;
    height: ;
    border-right: 2px solid rgba(200, 200, 200, .1);
    z-index: 100;
    color: white;
    opacity: 1;
}
.bar .betn {
    background-color: Aquamarine;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 156px;
    padding: 10px;
    margin: 1rem;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.bar .betn.active {
    rotate: 180deg;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 19px;
    border-bottom: 2px solid rgba(200, 200, 200, .1);
}

nav ul li:nth-of-type(1) {
    border-top: 2px solid rgba(200, 200, 200, .1);
}