@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: "Raleway", sans-serif;
    background-color: rgb(255, 244, 231);
}

.container {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}


.panel {
    align-items: center;
    border-radius: 30px;
    background-color: aquamarine;
}

.panel h3 {
    align-items: center;
    color: black;
    cursor: pointer;
    margin: 0;
    right: 60px;
    width: 150px
}