@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: "Raleway", sans-serif;
    background-color: rgb(255, 244, 231);
}
.container {

    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.panel {
    color: black;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    align-items: center;
}